.contact{
  padding: 20px;
  display: flex;
  justify-content: left;
  border-radius: 30px;
  height: 100px;
  //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 40px;
  //background-color: #24AB7030;







}