.header {
  padding: 20px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;

  }

  &__li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #222222;
  }

  &__ul > li {
    margin-right: 40px;
  }

  &__logo {
    width: 100px;
  }

  &__left-div {
    width: 25%;
    display: flex;
    justify-content: space-between;

  }

  &__select{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__login-btn{
    width: 100px;
    border: none;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #24AB70;;
    color: #fff;
    transition: 0.1s;

  }

  &__login-btn:hover{
    background-color: #11ab5b;
  }

  &__my-area{
  display: flex;
    align-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin: 0 15px;
}

  &__my-area-icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #243141;
  }

  &__burger-btn{
    display: none;
    cursor: pointer;

  }

  &__burger-icon{
    width: 40px;
    height: 40px;
  }

  &__small-menu{
    display: none;
    margin-top: 100px;
    z-index: 2;
    height: 100%;


  }
  }