.resetPass{
  width: 380px;
  height: 300px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 90px;
  background-color: #fff;
  border-radius: 10px;

  &__title{
    margin-left: 20px;
  }

  &__subtitle{
    margin: 20px 0 10px 20px;
    text-align: left;
  }

  &__input{
    width: 300px;
    height: 40px;
    border: 1px solid #00000020;
    border-radius: 8px;
    padding-left: 15px;
    outline: none;
    margin: 20px;
  }

  &__subtitle{

  }

  &__input{}

  &__remind-btn{
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #ffdc82;
    font-weight: bold;

  }
  &__remind-btn:hover {
    background-color: #ffd35c;

  }

    &__top-div{
    display: flex;
  }

  &__back-btn {
    border: none;
    background: transparent;
  }}